<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtBs5fWIlfmPK7mefWQBzmGTQioQMJJnU</string>
	<key>GCM_SENDER_ID</key>
	<string>16280212211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internalTool</string>
	<key>PROJECT_ID</key>
	<string>internal-tool-420</string>
	<key>STORAGE_BUCKET</key>
	<string>internal-tool-420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16280212211:ios:7f7618e983ed2dec3c9d86</string>
</dict>
</plist>